@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'ZCOOL';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37)
}